<ion-header>
  <ion-toolbar>
    <ion-title>
      My Lights
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <!-- TODO: Move this into a component-->
  <ion-list>
    <ion-item (click)="lightSelected()">
      <ion-label>192.168.0.1</ion-label>
    </ion-item>
    <ion-item (click)="lightSelected()">
      <ion-label>192.168.0.2</ion-label>
    </ion-item>
    <ion-item (click)="lightSelected()">
      <ion-label>192.168.0.3</ion-label>
    </ion-item>
    <ion-item (click)="lightSelected()">
      <ion-label>192.168.0.4</ion-label>
    </ion-item>
    <ion-item (click)="lightSelected()">
      <ion-label>192.168.0.5</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
